.myTodoList{
    margin-left: 50px;
    list-style: none;
}
.myTodoListItem{
    background-color: white;
    height: 35px;
    border-radius:6px;
    padding:8px;
    width:92%;
    margin-bottom: 2px;
}
.scrollable {
    height: 320px;
    overflow-y: auto;
}
.makeItFlex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.star {
    visibility:hidden;
    margin-left:14px;
    margin-top: -10px;
    align-self: start;
    font-size:30px;
    margin-right: 40px;
    cursor:pointer;
}
.star:before {
    content: "\2606";
    visibility:visible;
 }
 .star:checked:before {
    content: "\2605";
 }
 .star:hover{
     color:green;
 }